/* 모달 컨테이너 */
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* 배경 어두운 투명도 */
    display: flex;
    align-items: center;
    justify-content: center;  /* 모달을 화면 가운데에 정렬 */
    z-index: 1000;  /* 모달이 다른 요소 위에 표시되도록 */
    opacity: 1;
    animation: fadeIn 0.3s forwards;  /* 모달이 부드럽게 나타나는 애니메이션 */
}

/* 모달 창 */
.modal {
    background-color: #fff;
    width: 450px;
    padding: 20px 50px 0 50px;
    border-radius: 8px;  /* 둥근 모서리 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  /* 부드러운 그림자 */
    text-align: left;
    transform: translateY(-20px);  /* 모달이 위에서 내려오는 효과 */
    animation: slideUp 0.3s ease-out forwards;  /* 모달이 위에서 슬라이드 효과로 내려옴 */
}

/* 모달 헤더 */
.modal h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

/* 모달 콘텐츠 */
.modalContent {
    margin-top: 15px;
}

.modalContent p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.modalContent span {
    font-size: 15px;
    width: 110px;
    display: inline-block;
}

.modalContent h4 {
    text-align: center;
    margin-top: 20px;
}

/* 레이블 스타일 */
.modalContent label {
    display: block;
    font-size: 12px;
    color: #333;
}

.labelDiv {
    margin-top: 10px;
}

/* 입력 필드 스타일 */
.modalContent input,
.modalContent select {
    width: 300px;
    padding: 10px;
    margin: 5px 0 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;  /* 둥근 모서리 */
    font-size: 14px;
    color: #333;
    box-sizing: border-box;  /* 박스 크기 계산 방식 변경 */
    transition: border-color 0.3s ease;  /* 포커스 시 테두리 색상 변화 효과 */
}

.modalContent input:focus,
.modalContent select:focus {
    border-color: #f1863c;  /* 포커스 시 테두리 색상 */
    outline: none;  /* 포커스된 input의 외곽선 제거 */
}

/* 모달 액션 버튼들 */
.modalActions {
    display: flex;
    justify-content: center;  /* 버튼들을 가운데 정렬 */
    margin: 30px 0;
}

.modalActions button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;  /* 둥근 모서리 */
    cursor: pointer;
    transition: all 0.3s ease;  /* 버튼에 호버 시 애니메이션 효과 */
}

/* 저장 버튼 */
.modalActions button:first-of-type {
    background-color: #f1863c;
    color: white;
}

.modalActions button:first-of-type:hover {
    background-color: #c86f35;  /* 저장 버튼에 hover 효과 */
}

/* 취소 버튼 */
.modalActions button:last-of-type {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
}

.modalActions button:last-of-type:hover {
    background-color: #e0e0e0;  /* 취소 버튼에 hover 효과 */
}

/* 애니메이션 효과 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(-20px);  /* 애니메이션 시작 시 위치 */
    }
    to {
        transform: translateY(0);  /* 애니메이션 종료 시 위치 */
    }
}
