/* html, body의 높이를 100%로 설정하여 전체 화면을 차지하게 함 */
html, body {
    box-sizing: content-box;
    height: 100%;
    margin: 0; /* 기본 여백을 제거하여 요소들이 경계에 딱 붙도록 함 */
}

/* 부모 컨테이너 설정 */
.parentContainer {
    display: flex;
    height: 100vh;
    overflow: hidden; /* 레이아웃이 화면 밖으로 벗어나지 않도록 설정 */
}

.container {
    display: flex;
    transition: transform 0.3s ease;
}

.sideMenu ul {
    list-style-type: none;
    padding-left: 0;
}


/* 메뉴 항목 */
.menuItem {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* 링크 스타일 (기본) */
.menuItem a {
    color: inherit; /* 기본 텍스트 색상 사용 */
    text-decoration: none; /* 밑줄 제거 */
    transition: color 0.3s ease;
}

/* 링크 호버 시 스타일 */
.menuItem a:hover {
    text-decoration: none; /* 밑줄 제거 */
}

/* 호버 스타일 */
.menuItem:hover {
    background-color: #f5f5f5; /* 배경색 변경 */
}

/* 선택된 항목 스타일 */
.selected {
    color: #f6880b; /* 선택된 항목의 텍스트 색상 */
    background-color: #f5f5f5; /* 선택된 항목의 배경 색상 */
    font-weight: bold; /* 선택된 항목 강조 */
}


/* 전체 레이아웃 설정 */
.layout {
    display: flex;
    overflow: hidden; /* 레이아웃의 크기를 넘지 않도록 설정 */
    height: 100vh;
}

/* 사이드 메뉴와 콘텐츠를 함께 움직이게 함 */
.sideMenuAndContent {
    display: flex;
    transition: transform 0.3s ease; /* 사이드 메뉴 열고 닫을 때 콘텐츠도 부드럽게 이동 */
}


.mainContent {
    flex-grow: 1; /* 콘텐츠 영역이 사이드 메뉴와 나란히 배치되도록 함 */
    padding: 20px;
    transition: transform 0.3s ease; /* 콘텐츠도 이동 */
}

.sideMenuOpen .mainContent {
    margin-left: 30px; /* 사이드 메뉴가 열리면 오른쪽 콘텐츠를 오른쪽으로 밀어냄 */
    transition: margin-left 0.3s ease;
}

.sideMenuClosed .mainContent {
    margin-left: 100px; /* 사이드 메뉴가 닫히면 콘텐츠가 원래 위치로 */
    transition: margin-left 0.3s ease;
}

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden; /* 레이아웃이 화면 밖으로 벗어나지 않도록 설정 */
    transition: transform 0.3s ease;
}

/* 사이드 메뉴와 콘텐츠를 함께 움직이게 함 */
.sideMenuOpen {
    transform: translateX(0); /* 사이드 메뉴 열렸을 때 */
}

.sideMenuClosed {
    transform: translateX(-250px); /* 사이드 메뉴 닫혔을 때 */
}

.sideMenu {
    width: 250px;
    background-color: #f9f9f9;
    height: 100vh;
    padding-top: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    transition: transform 0.3s ease; /* 콘텐츠도 이동 */
}

/* 토글 버튼 스타일 */
.toggleButton {
    position: absolute;
    top: 250px;
    left: 250px;
    background-color: #f6880b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
