.HeaderContainer {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center; /* 좌우 정렬 */
    align-items: center; /* 상하 정렬 */
    flex-wrap: wrap; /* 폭이 넘치는 요소를 wrap 처리 */
}

.HeaderSubContainer {
    position: relative;
    width: 1050px; /* 부모 요소의 너비를 전체로 설정 */
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 좌우 정렬 */
    flex-wrap: wrap; /* 폭이 넘치는 요소 wrap 처리 */
    /*border: 1px solid #c53131; !* 테두리 *!*/
}

.HeaderSubContainer > * {
    padding-left: 40px;
    padding-right: 40px;
}

.HeaderSearch {
    display: flex;
    justify-content: space-between; /* 내부 요소들을 양쪽 끝으로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    border: 2px solid rgba(246, 123, 38, 0.53); /* 전체 컨테이너에 테두리 추가 */
    border-radius: 4px; /* 모서리 둥글게 설정 */
    padding: 0; /* 내부 패딩을 제거 */
    overflow: hidden; /* 내부 요소가 테두리를 넘어가지 않도록 */
    width: 400px;
}

.HeaderSearchInput {
    flex: 1; /* 입력 필드가 가능한 최대 너비를 차지 */
    padding: 10px;
    font-size: 16px;
    border: none; /* input 자체에 테두리 제거 */
    outline: none;
    box-sizing: border-box; /* padding을 포함한 크기 계산 */
}

.HeaderSearchBtn {
    display: flex;
    padding: 0 15px;
    font-size: 16px;
    border: none; /* 버튼 자체의 테두리 제거 */
    background-color: #ffffff; /* 원하는 배경색 설정 */
    cursor: pointer;
    box-sizing: border-box;
    align-items: center; /* 세로 중앙 정렬 */
}


.HeaderSearchBtn svg {
    width: 20px;
    height: 20px;
    fill: #020202; /* 아이콘 색상 */
}

.HeaderLink {
    text-decoration: none;
    color: black;
    transition: opacity 0.2s;
    margin: 0 15px; /* 링크 간 가로 여백 */
    font-family: "맑은 고딕", "Malgun Gothic", sans-serif; /* 폰트 설정 */
    font-size: 17px; /* 폰트 크기 */
    font-weight: 400; /* 폰트 굵기 */
    letter-spacing: 1.0px; /* 글자 간 여백 추가 */
}


.HeaderCategory {
    min-width: 1050px;
    height: 56px;
    margin: 0 auto;
    display: flex;
    /*align-items: center; !* 세로 중앙 정렬 *!*/
    /*justify-content: center; !* 좌우 정렬 *!*/
    /*border: 1px solid #281717; !* 테두리를 추가하여 영역을 확인 *!*/
}

.HeaderCategory li {
    list-style: none; /* li 점 제거 */
    display: inline-block; /* li를 가로 정렬 */
    margin: 10px;
    padding-left: 70px;
    padding-right: 70px;
}
